#input {
    color: black;
    font-size: 40px;
    width: 100%;
    margin-top: 10px;
    background: transparent;
    outline: none;
    border: 2px solid white;
    color: white;
    border-radius: 50px;
    padding: 5px 40px;
}