.slider {
 width: 560px;
 margin-top: 50px;
 display: inline-block;
 .item {
    background-color: #36498c;
    height: 200px;
    width: 95% !important;
    border-radius: 10px;
    text-align: center;
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    flex-direction: column;
}

}
